body {
  margin: 0px;
}
.navbar {
  font-size: smaller;
  margin: 2% 1% 8% 2%;
  display: flex;
  align-content: center;
}

.rightnav {
  
  position: relative;
  left: 72%;
  margin-left: 8px;
}
.bscbutton {
  border: none;
  background: none;
}
  .glogo{
border-radius: 2px;
height: 30px;
width: 30px;

}
.logobutton{
  background-color: transparent;
  border-style: none;
}
.bscbutton:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bluebutton {
  border: none;
  background: #4a4ad3;
  color: white;
  padding: 8px;
}
.googlelogo {
  display: block;
  margin: 0 auto;
}
.searchbox {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(192, 191, 191);
  border-radius: 15px;
  margin: 3% 30%;
  padding: 8px;
}
.searchbox:hover {
  box-shadow: 0px 0px 5px #888888;
}
.searchbar {
  border: none;
  width: 90%;
  
}
.srclogo {
  width: 4%;
  height: 4%;
}
.voicelogo {
  width: 4%;
  height: 4%;
}
.centerbtn {
  display: flex;
  justify-content: center;
}
.centerbtn .space {
  margin: 0 1%;
  padding: 0.8%;
  border-style: none;
  border-radius: 5px;
  background-color: #d8d2d2;
}
.centerbtn .space:hover{
  box-shadow: 0px 0px 5px #888888;
  background-color: #ece5e5;
  
}
.footerbar {
  font-size: smaller;
  margin-top: 12.8%;
  background: #bbb9b9;
  padding: 15px;
}


.rightftr {
  
  position: relative;
  left: 65%;
}
